@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1 class="text-center my-4 text-primary">@ViewData["Title"]</h1>

<p>Este site é utilizado exclusivamente para fins de teste e demonstração. Não coletamos nem armazenamos informações pessoais dos usuários.</p>

<h2 class="text-primary">1. Informações Coletadas</h2>
<p>Este site não coleta dados pessoais, como nome, e-mail ou endereço, durante a navegação. Não utilizamos cookies ou outras tecnologias para rastrear o comportamento dos usuários.</p>

<h2 class="text-primary">2. Uso de Informações</h2>
<p>Como este é um site de testes, nenhuma informação fornecida será usada para fins comerciais ou de marketing.</p>

<h2 class="text-primary">3. Segurança</h2>
<p>Embora tomemos medidas para proteger qualquer informação inserida, ressaltamos que, devido ao caráter de teste do site, não garantimos a segurança de dados que eventualmente sejam fornecidos.</p>

<h2 class="text-primary">4. Alterações nesta Política</h2>
<p>Esta política pode ser atualizada a qualquer momento. Recomendamos que você a consulte periodicamente para verificar possíveis mudanças.</p>

<h2 class="text-primary">5. Contato</h2>
<p>Se tiver dúvidas sobre nossa política de privacidade, entre em contato conosco pelo e-mail: <a href="mailto:contato@seusite.com" class="text-primary">contato@seusite.com</a></p>
